<div class="container">
  <div class="viewMenuContainer">
    <p-dataView [value]="rockets">
      <p-header class="my-p-header">
        <p-dataViewLayoutOptions
          (click)="handleClick($event)"
        ></p-dataViewLayoutOptions>
      </p-header>
    </p-dataView>
  </div>

  <p-dataView [value]="rockets">
    <ng-template let-rocket pTemplate="listItem">
      <div class="product-list-item" *ngIf="showList">
        <div class="product-list-detail">
          <!-- <div p-header class="product-name">{{ rocket.name }}</div> -->
          <div p-header class="product-name">{{ rocket.name }}</div>
          <div class="product-description">
            "{{ rocket.description }}"
            <p>First Flight: {{ rocket.first_flight }}</p>
          </div>
          <p class="successRatePercentage">
            Success Rate:
            {{ rocket.success_rate_pct }}%
          </p>
          <p>
            <a href="{{ rocket.wikipedia }}">Wikipedia</a>
          </p>
        </div>
      </div>

      <div class="p-col-12 p-md-3 p-shadow-7" *ngIf="!showList">
        <div class="product-grid-item card">
          <h2>{{ rocket.name }}</h2>
          <div class="rocketDescription">
            "{{
              rocket.description.length > 150
                ? (rocket.description | slice: 0:150) + "..."
                : rocket.description
            }}"
          </div>

          <div class="extraInfo">
            <p>First Flight: {{ rocket.first_flight }}</p>
            <p class="successRatePercentage">
              Success Rate:
              {{ rocket.success_rate_pct }}%
            </p>
            <p>
              <a href="{{ rocket.wikipedia }}">Wikipedia</a>
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
