.container {
  height: 100%;
  position: relative;
}
.viewMenuContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  left: 0;
  z-index: 90;
}
:host ::ng-deep {
  .p-dataview-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 40;
    left: 30;
    z-index: 80;
  }
}

.companyInfo {
  display: flex;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-description {
  margin: 0 0 1rem 0;
}

.product-list-item {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  width: 100%;
  margin-bottom: 10px;
  z-index: 80;
}

.product-grid-item {
  margin: 0.5em;
  border: 1px solid #dee2e6;
}
.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
  max-height: 450px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rocketDescription {
  height: 200px;
}
