<p-dataView [value]="rockets">
  <p-header>
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-header>

  <ng-template let-rocket pTemplate="listItem">
    <div class="product-list-item">
      <div class="product-list-detail">
        <div class="product-name">{{ rocket.name }}</div>
        <div class="product-description">
          "{{ rocket.description }}"
          <p>First Flight: {{ rocket.first_flight }}</p>
        </div>
        <p class="successRatePercentage">
          Success Rate:
          {{ rocket.success_rate_pct }}%
        </p>
        <p>
          <a href="{{ rocket.wikipedia }}">Wikipedia</a>
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template let-rocket pTemplate="gridItem">
    <div class="p-col-12 p-md-3 p-shadow-7">
      <div class="product-grid-item card">
        <h2>{{ rocket.name }}</h2>
        <div class="rocketDescription">
          "{{
            rocket.description.length > 150
              ? (rocket.description | slice: 0:150) + "..."
              : rocket.description
          }}"
        </div>

        <div class="extraInfo">
          <p>First Flight: {{ rocket.first_flight }}</p>
          <p class="successRatePercentage">
            Success Rate:
            {{ rocket.success_rate_pct }}%
          </p>
          <p>
            <a href="{{ rocket.wikipedia }}">Wikipedia</a>
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
